nav {
    padding: 18px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

.logo:hover {
    opacity: .75;
}

.navlist {
    display: flex;
    align-items: center;
    gap: 32px;
}

.navlistText {
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    transition: .2s;
    color: #000;
}

.navlistText:hover {
    text-decoration: underline;
}

.loginBtn {
    background: #FF9839;
    color: white;
    padding: 12px 24px;
    border-radius: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: .2s;
}

.loginBtn:hover {
    background: #F97316;
}

img {
    max-width: 100%;
    height: auto;
}

/* ---------------- MOBILE ---------------- */

@media (max-width:768px){

    nav{
        padding:20px;
        flex-direction:column;
        gap:20px;
    }

    .logo{
        font-size:2rem;
        justify-content:center;
    }

    .navlist{
        width:100%;
        display:grid;
        grid-template-columns:1fr 1fr;
        gap:15px;
        justify-items:center;
    }

    .navlistText{
        font-size:1rem;
        color:#000;
    }

    .loginBtn{
        width:100%;
        max-width:220px;
        text-align:center;
        padding:14px 0;
    }

}